
<div class="row form-login">
  <div id="container-form" class="col-md-6 col-md-offset-3">
    <h1 id="log-text">LOG IN</h1>

    <div class="col-md center-xs middle-xs">
      <h1 class="no-margin">
        <%= image_tag("logoblanco.jpg",size:"200x160")%>
      </h1>
    </div>
   <%= render 'shared/flash_error' %>
    <%= form_for(:session, url: login_path,html: {id: "form-login"})   do |f| %>

        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control' %>

        <%= f.label :password %>

        <%= f.password_field :password, class: 'form-control' %>
        <div id="remember-container">
          <%= f.label :remember_me, class: "checkbox inline" do %>
              <%= f.check_box :remember_me %>
              <span>Remember me!</span>
          <% end %>
          <%= f.submit "Log In", id:"btn-login" ,class: "btn btn-primary" %>
        </div>

    <% end %>
    <p id="user-new-label"> <%= link_to "New user? Sign up now!", signup_path %></p>
    <p id="forgot-password"><%= link_to "Forgot your password?" ,'#'%></p>
  </div>
</div>