<div class="container">
    <p><span class="bolder">Nombre: </span><%= @user.name %> </p>
     <p> Apellidos: <%= @user.lastname %> </p>
      <p> Edad: <%= @user.age %></p>
     <p> Correo:<%= @user.email %></p>
      <p> Password: <%= @user.password_digest %></p>
</div>
