<header >
<nav class="be-red white large-padding underline">
  <div class="col-md underline logo center-xs">
    <h1 class="no-margin">
      <%= image_tag("logoblanco.jpg",width:"120px")%>
    </h1>
  </div>
  <ul class="lista-header no-list row center-xs middle-xs">
    <li class="col-md li-nav gothic-font">
      <%= link_to "Inicio" , root_path%>
    </li>
    <li class="col-md li-nav gothic-font"><%= link_to "SoundCloud" ,soundcloud_path %></li>
    <li class="col-md li-nav gothic-font"><%= link_to "Discografia" ,discografia_path %></li>
    <li class="col-md li-nav gothic-font"><%= link_to "Contacto" ,contacto_path %></li>
    <% if logged_in? %>
        <li class="logueado col-md li-nav gothic-font">  <%= link_to "Bienvenido! " ,users_path %> </li>
        <li class="col-md li-nav gothic-font"> <%= link_to "Salir ",logout_path,method: :delete  %> </li>
    <% else %>
        <li class="col-md li-nav gothic-font"><%= link_to "Log In",login_path %></li>
    <%end%>
  </ul>
</nav>
</header>