<h1 class="center-xs middle-xs">Bienvenido a Nuestra pagina oficial</h1>
<div class="row top-padding ">
  <div class="col-md center-xs middle-xs" style="border-bottom:1px solid white;">
    <h1 class="no-margin underline">
      <%= image_tag("logo.jpg",size:"550x400",id:"imga")%>
    </h1>
  </div>
</div>
<div class="row top-padding">
  <div class="col-md">
    <div class="col-md logo center-xs middle-xs">
      <h1 class="no-margin">
        <%= image_tag("aberoth3.jpg",size:"550x400",id:"imga")%>
      </h1>
     </div>
  </div>
  <div class="col-md">
    <div class="col-md logo center-xs middle-xs">
      <h1 class="no-margin">
        <%= image_tag("aberoth2.jpg",size:"550x400",id:"imga")%>
      </h1>
    </div>
  </div>
</div>
<div class="row center-xs middle-xs ">
  <div class="resp-container">
    <iframe id="imgv" style="border:1px solid;" width="260" height="515" src="https://www.youtube.com/embed/MJx7VufrEjg?autoplay=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>

</div>
<div class="row top-padding">
  <div class="col-md">
    <div id="welcome-container" class="col-md logo center-xs middle-xs">
      <h1 class="no-margin">
        <%= image_tag("aberoth.jpg",size:"100%xauto",id:"imga")%>
      </h1>
     </div>
  </div>
  <div class="col-md" >
    <div class="col-md center-xs middle-xs">
      <h1 id="imga" class="no-margin">
        <%= image_tag("aberoth4.jpg",size:"550x400",id:"imga")%>
      </h1>
     </div>
  </div>
</div>