<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <link href="https://fonts.googleapis.com/css?family=Marck+Script&display=swap" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header >
      <nav class="be-red white large-padding">
         <ul class="no-list row center-xs middle-xs">
          <li class="col-md logo">
            <h1 class="no-margin">
              <%= image_tag("logo.jpg",width:"120px")%>
            </h1>
          </li>
          <li class="col-md li-nav gothic-font">
            <%= link_to "Inicio" , root_path%>
          </li>
          <li class="col-md li-nav gothic-font">Quienes Somos</li>
          <li class="col-md li-nav gothic-font">Discografia</li>
          <li class="col-md li-nav gothic-font">Contacto</li>
        </ul>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
